<div class="container"> 
    <app-slider></app-slider>
    <app-message></app-message>
    <app-products></app-products>
</div>
     
<div class="container">

    <!-------------primer----*ngIf="post.contentPost == 'alcohol'"------------>
    <!--------------primer---------------->
    <div class="wrapdestacado"> <div class="neon">KIOSKO</div> </div>
        
    <div class="wrapper" *ngIf="posts$ | async as posts; else loading" >
        
            <div  *ngFor="let post of posts">
                <div *ngIf="post.contentPost == 'kiosko'">
                    <div class="item">
                        
                        <img [src]="post.imagePost" >
                        <h2 class="precio"> <a [routerLink]="['/posts', post.id]">
                            {{post.titlePost}} 
                        </a></h2>
                    </div>
                </div>
            </div>
        
    </div> 
 
    <h2 class="sentence">Ventajas de tu tienda online:
        <div class="slidingVertical">
          <span>Abierto las 24h.</span>
          <span>Aumentar los clientes.</span>
          <span>Reduce gastos.</span>
          <span>Más visibilidad de tu negocio.</span>
          <span>Comunidad.</span>
        </div>
      </h2>
    <!--------------Fin primer---------------->
    <!--------------Fin primer---------------->

         
        
    <!-------------SEGUNDO---------------->
    <!--------------SEGUNDO---------------->      
    <div class="wrapdestacado mt-3"><div class="neon">ALMACEN</div></div>

    <div class="wrapper" *ngIf="posts$ | async as posts; else loading" >
        
            <div  *ngFor="let post of posts">
                <div *ngIf="post.contentPost == 'almacen'">
                    <div class="item">
                        
                        <img [src]="post.imagePost" >
                        <h2 class="precio"> <a [routerLink]="['/posts', post.id]">
                            {{post.titlePost}} 
                        </a></h2>
                    </div>
                </div>
            </div>
        
    </div>

    <h2 class="sentence">Construir productos que generen resultados requieren conocimientos de
        <div class="slidingVertical">
          <span>negocio.</span>
          <span>comunicación.</span>
          <span>tecnología.</span>
          <span>analisis de datos.</span>
          <span>diseño.</span>
        </div>
    </h2>
   
    <!------------FIN-SEGUNDO---------------->
        

    <!-------------TERCERO---------------->
    <!--------------TERCERO---------------->   
    <div class="wrapdestacado mt-3"><div class="neon">ROPA</div></div>
    <div class="wrapper" *ngIf="posts$ | async as posts; else loading" >
        
        <div  *ngFor="let post of posts">
            <div *ngIf="post.contentPost == 'ropa'">
                <div class="item">
                    
                    <img [src]="post.imagePost" >
                    <h2 class="precio"> <a [routerLink]="['/posts', post.id]">
                        {{post.titlePost}} 
                    </a></h2>
                </div>
            </div>
        </div>
    
    </div> 

     
    <h2 class="sentence">Vaya más allá de la tienda física para llevar sus productos a los clientes donde, 
        cuando y como prefieran comprar.  </h2>
    <!-------------CUARTO---------------->
    <!--------------CUARTO---------------->
    <div class="wrapdestacado mt-3"><div class="neon">COMIDAS</div></div>
    <div class="wrapper" *ngIf="posts$ | async as posts; else loading" >
        
        <div  *ngFor="let post of posts">
            <div *ngIf="post.contentPost == 'comida'">
                <div class="item">
                    
                    <img [src]="post.imagePost" >
                    <h2 class="precio"> <a [routerLink]="['/posts', post.id]">
                        {{post.titlePost}} 
                    </a></h2>
                </div>
            </div>
        </div>
    
    </div>

    <h2 class="sentence"> Las soluciones avanzadas
 de gestión de información de productos ayudan a su
  negocio a tener un impacto positivo en las ventas.</h2>
    <!-------------QUINTO---------------->
    <!--------------QUINTO---------------->
    <div class="wrapdestacado mt-3"><div class="neon">CELULARES / PC</div></div>
    
     <!--
         <div class="wrappromos ">
        
                <div class="wrap1 ">
                    
                    <p  class="lado1a">10%</p> 
                        
                    
                    <div class="lado2">
                        compra mayor a $800
                    </div>
                </div>
        
                <div class="wrap2">
                        <h2  class="desc1">Ingresa tu email y disfruta!</h2> 
                    
                        <label for="email_input">email: </label>
                        <input type="email" name="email" id="email_input" placeholder="Tu correo">
                    
                    <div class="desc3">Para aprovechar esta oferta debe ingresar su correo. EXCLUSIVO solo para clientes</div>
                </div>
        
    </div>
     -->   
    
   
</div>
    
<ng-template #loading>
        <div class="container-spinner">
          <mat-spinner></mat-spinner>
        </div>
</ng-template>
    