@import url('https://fonts.googleapis.com/css2?family=Potta+One&family=Roboto:ital,wght@0,300;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Potta+One&display=swap');

.carousel-caption h3{
    font-family: 'Potta One', cursive;color:  red;
    font-size: 50px;text-shadow: 1px 1px 1px #451e89;
}
.carousel-caption p span { 
    color: white; 
    font: bold 19px/35px 'Indie Flower', cursive; 
    letter-spacing: -1px;  
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    padding: 10px; 
 } 
@media screen and (max-width: 819px) {
    .carousel-caption {
       text-align: end;
       position: absolute;bottom:105px; 
       transform:translateX(25px);
        
    }
.carousel-caption h3{ font-size: 24px; } 

ngb-carousel{border:7px solid #451e89;}

.carousel-caption p span { 
   
    font: bold 14px/30px 'Indie Flower', cursive; 
    padding: 4px 8px; 
 } 
}
